body {
    margin-inline: 0px;
}
.center {
    margin:  auto;
    display: block;
    
}
.subtitles {
    background-color: #fdfbf1;
    text-align: center;
    padding: 10px;
    margin: 20px 0px;
    border-top: solid 2px #fee9b4;
    color: #195958;
}
main {
    width: 60%;
    margin-inline: auto;
}
main video {
    width: 100%;
    border-radius: 6px;
    
}
main h1 {
    margin-top: 50px;
}
.author {
    text-align: center;
    color: rgb(151, 151, 151);
}
.featured {
    border-left: solid 2px #fee9b4;
    padding-left: 7px;
    color: #e9a700;
}
.chapters {
    font-size: 30px;
    border-bottom: solid 2px #a9dddb;
    padding: 20px;
    margin-top: 40px;
}
.titles {
    font-size: large;
    
}
div ul li {
    padding:15px;
}
footer {
    width: 60%;
    margin-inline: auto;
}
#method {
    margin-inline-start: 40px
}